.archived-person { color: grey; }

/* colors for categories in People view when showing person's courses' */
.aal { background-color: #ffff99 !important; }
.env { background-color: #ff99cc !important; }
.vet { background-color: #ccffcc !important; }
.iac { background-color: #ffcc99 !important; }
.fie { background-color: #CCCC00 !important; }

.label.date {color: #000; background-color: #fff; padding: 1px 4px 2px; vertical-align: baseline; white-space: nowrap; font-size: 10.998px; font-weight: bold; line-height: 14px;}

.iacuc-editable-cell { cursor: pointer }

.dataTables_filter   { float: left; }

.nowrap { white-space:nowrap; }
.overflow-x {overflow-x: auto; }

.iacuc-link a {color: #002147; text-decoration: underline; }
.iacuc-link a:hover {color: #FF5600; }

.align-right {text-align: right; }
.align-center {text-align: center; }

#blocker
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #000;
  z-index: 1000;
}
#blocker-text
{
  display: none;
  position: fixed;
  background-color: #002147;
  padding: 15px 30px;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: bold;
  z-index: 1001;
}
#content
{
	margin:2em;
}